<style>
	/*.logform {-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px;background-color:rgba(17,17,17,0.75);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#BF111111',endColorstr='#BF111111');border:solid thin #000;color:#efefef;margin:0 auto; margin-top:150px;padding:26px 0;width:600px}
	.banner { top:5px; font-family: 'trebuchet MS'; font-size:15px; color:#FFFFFF; margin-top: -25px;}*/
	/*.logform {-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px;background-color:rgba(248, 248, 248, 0.71);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#BF111111',endColorstr='#BF111111');border:solid thin (153, 153, 153);color:#efefef;margin:0 auto; margin-top:150px;padding:26px 0;width:600px}*/
	.logform {-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px;background-color:rgba(233, 233, 233, 0.71);;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#BF111111',endColorstr='#BF111111');border:solid thin (153, 153, 153);color:#efefef;margin:0 auto; margin-top:50px;padding:26px 0;width:600px}
	.banner { font-family: 'trebuchet MS'; font-size:15px; color:rgb(60, 60, 60);}
	
</style>
<div class="logform" style="text-align:center;">
	<div class="banner">
		<img src="/assets/common/logo-kreyos.png" style="margin-top: 25px;" />
		<h1>Don't make a promise, Make a goal!</h1>
		<h2>Signup or Login via Facebook</h2>
	</div>
	<div>
		<img src="/assets/img/fb_button.png" id="btnLandingFB" style="cursor:pointer;" />
	</div>
	<br />
	<div style="margin-left: 160px;" class="fb-like" data-send="false" data-width="450" data-show-faces="true"></div>
</div>