<% content_for :subtitle do %>
	Home
<%end%>

<% content_for :head_extension do %>
  <%= stylesheet_link_tag "users/home", :media => "all" %>
  <%= javascript_include_tag "users/home" %>
<% end %>


<h1>Home</h1>

<div id="dvMainContent">

</div>

