<% content_for :subtitle do %>
	Home
<%end%> 

    <div id="kreyos" class="wrapper section">
        <div id="header" class="container">
            <div class="row-fluid">
                <hgroup class="span12">
                    <h1>Introducing <em>Meteor</em>, Two-Way Voice &amp; Gesture Control Communicator</h1>
                    <h2>Keep Your Phone in Your Pocket</h2>
                </hgroup>
            </div>
            <div id="meteor-sliders" class="row-fluid">
                <div class="span12">
                    <img src="/assets/home/top-meteor-small.jpg" class="visible-phone">
                    <img id="meteor-5-up" src="/assets/home/top-slider-6.jpg" class="hidden-phone">

                    <div id="meteor-screens-wrap" class="hidden-phone">
                        
                        <div id="meteor-screen-1-slider-wrap" class="meteor-screen-slider-wrap">
                            <div id="meteor-screen-1-slider" data-touch="false" class="css-slider" data-auto-play-delay="5000" data-auto-play="true" data-easing="linear" data-speed="250" data-orientation="vertical">
                            <div class="watch-overlay"></div>	
                            <!-- <div id="meteor-screen-1-slider" data-touch="false" class="css-slider slidejs-1" data-orientation="vertical"> -->
                               	<div class="slide slide-1" style="background: url('/assets/home/watch_face/2/small/1.png') no-repeat;"></div>
                           		<div class="slide slide-2" style="background: url('/assets/home/watch_face/2/small/2.png') no-repeat;"></div>
                            </div>
                        </div>

                        <div id="meteor-screen-2-slider-wrap" class="meteor-screen-slider-wrap">
                            <div id="meteor-screen-2-slider" data-touch="false" class="css-slider" data-auto-play-delay="5100" data-auto-play="true" data-easing="linear" data-speed="250" data-orientation="vertical">
                            <div class="watch-overlay"></div>	
                            <!-- <div id="meteor-screen-2-slider" data-touch="false" class="css-slider slidejs-2" data-orientation="vertical"> -->
                                <div class="slide slide-3" style="background: url('/assets/home/watch_face/2/small/3.png') no-repeat;"></div>
                                <div class="slide slide-4" style="background: url('/assets/home/watch_face/2/small/4.png') no-repeat;"></div>
                                <div class="slide slide-5" style="background: url('/assets/home/watch_face/2/small/5.png') no-repeat;"></div>
                                <div class="slide slide-6" style="background: url('/assets/home/watch_face/2/small/6.png') no-repeat;"></div>
                            </div>
                        </div>

                        <div id="meteor-screen-3-slider-wrap" class="meteor-screen-slider-wrap">
                            <div id="meteor-screen-3-slider" data-touch="false" class="css-slider" data-auto-play-delay="5200" data-auto-play="true" data-easing="linear" data-speed="250" data-orientation="vertical">
                            <div class="watch-overlay"></div>
                            <!-- <div id="meteor-screen-3-slider" data-touch="false" class="css-slider slidejs-3" data-orientation="vertical"> -->
                                <div class="slide slide-7" style="background: url('/assets/home/watch_face/2/small/7.png') no-repeat;"></div>
                                <div class="slide slide-8" style="background: url('/assets/home/watch_face/2/small/8.png') no-repeat;"></div>
                            </div>
                        </div>

                        <div id="meteor-screen-4-slider-wrap" class="meteor-screen-slider-wrap">
                            <div id="meteor-screen-4-slider" data-touch="false" class="css-slider" data-auto-play-delay="5300" data-auto-play="true" data-easing="linear" data-speed="250" data-orientation="vertical">
                            <div class="watch-overlay"></div>
                            <!-- <div id="meteor-screen-4-slider" data-touch="false" class="css-slider slidejs-4" data-orientation="vertical"> -->
                                <div class="slide slide-9" style="background: url('/assets/home/watch_face/2/small/9.png') no-repeat;"></div>
                                <div class="slide slide-7" style="background: url('/assets/home/watch_face/2/small/10.png') no-repeat;"></div>
                                <div class="slide slide-8" style="background: url('/assets/home/watch_face/2/small/11.png') no-repeat;"></div>
                            </div>
                        </div>

                        <div id="meteor-screen-5-slider-wrap" class="meteor-screen-slider-wrap">
                            <div id="meteor-screen-5-slider" data-touch="false" class="css-slider" data-auto-play-delay="5400" data-auto-play="true" data-easing="linear" data-speed="250" data-orientation="vertical">
                            <div class="watch-overlay"></div>
                            <!-- <div id="meteor-screen-5-slider" data-touch="false" class="css-slider slidejs-5" data-orientation="vertical"> -->
                                <div class="slide slide-8" style="background: url('/assets/home/watch_face/2/small/12.png') no-repeat;"></div>
                                <div class="slide slide-9" style="background: url('/assets/home/watch_face/2/small/13.png') no-repeat;"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="span12" id="meteor-captions">
                <ul>
                    <li id="meteor-caption-1">Answer and<br> make voice calls</li>
                    <li id="meteor-caption-2">Send and recieve text messages</li>
                    <li id="meteor-caption-3">Get fit with<br> activity trackers</li>
                    <li id="meteor-caption-4">Use sports mode<br> to customize workouts</li>
                    <li id="meteor-caption-5">Recieve notifications<br> in real-time</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="voice-gesture" class="wrapper section">
        <div class="container">
            <div class="row-fluid">
                <div class="span7">
                    <hgroup>
                        <h3>Sync with Your Phone Using</h3>
                        <h2>Voice Command <span>&plus;</span> Gesture Control</h2>
                    </hgroup>
                    <p>The only waterproof, interactive smartwatch to feature a microphone and speaker, the Kreyos Meteor allows you to control your smartphone functions remotely using voice or gesture commands.</p>
                    <ul class="ulvoice">
                    	<li>To use voice control, simply pair your Meteor with your smartphone via Bluetooth. </li>
                    	<li>In minutes, you’ll be able to call friends, respond to texts, send emails, access your favorite apps, post to social media, control your music…and so much more!</li>
                    </ul>
                    <p>Talking to your smartwatch makes communication simple and easy. But we decided to go a step further – and added a built-in six-axis accelerometer and gyrometer into the Meteor.  Now controlling your Meteor is as easy as moving your hand – right or left, up and down.</p>
                    <ul class="ulvoice">
                    	<li>Want to change music?  Answer call?  Check an alert? Simple gestures allow you to enable features without talking or pressing a button.</li>
						<li>Four different wrist motions come preconfigured – and you can choose an action to correspond to specific activity.</li>
                    </ul>
                </div>
            </div>
            <div id="voice-example">
                &ldquo;Play the next track on this playlist&rdquo;
            </div>
            <img src="/assets/home/gestures.png" class="hidden-phone">
            <span id="dotted-line" class="hidden-phone">&nbsp;</span>
        </div>
    </div>

    <div id="feature-modes" class="wrapper section">

        <div id="bg-slider-wrap" class="show">
            <div id="bg-slider" data-touch="false" class="css-slider" data-auto-play-delay="1000" data-auto-play="false" data-easing="linear" data-speed="250">
                <div class="slide slide-1"></div>
                <div class="slide slide-2"></div>
                <div class="slide slide-3"></div>
            </div>
        </div>

        <div class="container">
            <div class="row-fluid">
                <div class="span6 offset6">
                    <div class="row-fluid">
                        <div id="feature-modes-slider-nav" class="span10 offset1">
                            <a href="#" class="slide-1 active" data-index="0">&nbsp;</a>
                            <a href="#" class="slide-2" data-index="1">&nbsp;</a>
                            <a href="#" class="slide-3" data-index="2">&nbsp;</a>
                            <span id="fm-nav-active-pointer" class="active-0">&nbsp;</span>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div id="fm-content-slider-wrap" class="span10 offset1 show">
                            <div id="fm-content-slider" data-touch="false" class="css-slider" data-auto-play-delay="1000" data-auto-play="false" data-easing="linear" data-speed="250">
                                <div class="slide slide-1">
                                    <hgroup>
                                        <h3>On iOS, Android, and Windows 8</h3>
                                        <h2>Activity Tracker</h2>
                                    </hgroup>
                                    <p>Tired of carrying around multiple activity trackers, pedometers, and sensors – each with their own independent systems?  The Kreyos Meteor features a variety of built-in activity trackers that allow you to compile data and share it any way you want…with whomever you want.</p>

                                    <ul>
                                    	<li>Count steps, stairs, distance, calories, etc.</li>
                                    	<li>Constantly record your body’s critical data.</li>
                                    	<li>Share with trainers, health professionals and workout buddies.</li>
                                    	<li>Use Badgeville to earn rewards and cheer each other towards goals.</li>
                                    	<li>Sync with apps to track, analyze and enhance sports performance.</li>
                                    	<li>Measure stats easily by connecting sensors via ANT+ or Bluetooth.</li>
                                    </ul>
                                    
                                    <p>Whether you’re truly passionate about fitness or just want to get healthy, the Meteor can the tools you need to help you reach your health, fitness and sports goals.</p>

                                    <a href="#" class="next-slide hidden-phone" data-index="1">Next: Sports Mode</a>
                                </div>
                                <div class="slide slide-2">
                                    <hgroup>
                                        <h3>On iOS, Android, and Windows 8</h3>
                                        <h2>Sports Mode</h2>
                                    </hgroup>
                                    <p>The Kreyos Meteor helps you get on top of your game by giving you real-time data and after-exercise analysis of your performance.</p>

                                    <p>To make tracking your stats easier, the Meteor includes a variety of sports modes – specifically tailored to specific activities.</p>
                                    
                                    <ul>
                                    	<li>Bikers – Record distance, speed, ascent/descent, grade and more</li>
                                    	<li>Runners – Track runs with built-in pedometer, calorie counter, cadence stride, speed, etc.</li>
                                    </ul>
                                    

                                    <a href="#" class="next-slide hidden-phone" data-index="2">Next: Gyrometer</a>
                                </div>
                                <div class="slide slide-3">
                                    <hgroup>
                                        <h3>On iOS, Android, and Windows 8</h3>
                                        <h2>Built In Gyrometer</h2>
                                    </hgroup>

                                    <p>Talking to your smartwatch makes communication simple and easy. But when you are working out, sometimes you may not want to talk.  So we decided to go a step further – and added a built-in six-axis accelerometer and gyrometer into the Meteor.  Now you can use voice or gestures to control your Meteor.</p>

                                    <p>Now controlling your Meteor is as easy as moving your hand – right or left, up and down.</p>

									<ul>
										<li>Want to change music?  Answer call?  Check alert? Simple gestures allow you to enable features without talking or pressing buttons.</li>
										<li>Four different wrist motions come preconfigured. </li>
										<li>Don’t like a specific gesture? Change it.</li>
										<li>In future, we’re adding other motions – handy for the development of new applications!</li>
									</ul>
									
                                    <a href="#" class="next-slide hidden-phone" data-index="0">Next: Activity Tracker</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="logo-pond" class="wrapper section">
        <div class="container-fluid">
            <h2>The Buzz Around the Web</h2>
            <div class="row-fluid">
                <div class="span6">
                    <ul class="row-fluid logo-pond-list">
                        <li class="span3 logo"><img src="/assets/home/logo-cnet.png" alt="CNET"></li>
                        <li class="span3 logo"><img src="/assets/home/logo-venturebeat.png" alt="VentureBeat"></li>
                        <li class="span3 logo"><img src="/assets/home/logo-engadget.png" alt="Engadget"></li>
                        <li class="span3 logo"><img src="/assets/home/logo-techcrunch.png" alt="TechCrunch"></li>
                    </ul>
                </div>
                <div class="span6">
                    <ul class="row-fluid logo-pond-list">
                        <li class="span3 logo"><img src="/assets/home/logo-gizmodo.png" alt="Gizmodo"></li>
                        <li class="span3 logo"><img src="/assets/home/logo-all-things-d.png" alt="All Things D"></li>
                        <li class="span3 logo"><img src="/assets/home/logo-business-insider.png" alt="Business Insider"></li>
                        <li class="span3 logo"><img src="/assets/home/logo-giga-om.png" alt="GigaOm"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="watch-customizer" class="wrapper section">
        <div class="container">
            <div class="row-fluid">
                <hgroup>
                    <h2>Designed to Match Your Style</h2>
                    <h3>Your Watch. Your Way</h3>
                </hgroup>
            </div>

            <div id="pick-a-style" class="clearfix">
                <h5>meteor style</h5>
                <ul class="builder-options">
                    <li id="builder-watch" data-type="watch" class="active">&nbsp;</li>
                    <li id="builder-klip" data-type="klip">&nbsp;</li>
                    <li id="builder-lanyard" data-type="lanyard">&nbsp;</li>
                </ul>
            </div>

            <div id="pick-a-gender" class="clearfix draw-line">
                <h5>gender</h5>
                <ul class="builder-options">
                    <li id="builder-male" data-gender="male" class="active">&nbsp;</li>
                    <li id="builder-female" data-gender="female">&nbsp;</li>
                </ul>
            </div>

            <div id="pick-a-color" class="clearfix">
                <h5>pick a color</h5>
                <ul class="builder-options">
                    <li id="builder-black" data-color="black">&nbsp;</li>
                    <li id="builder-white" data-color="white" class="active">&nbsp;</li>
                    <li id="builder-pink" data-color="pink">&nbsp;</li>
                    <li id="builder-blue" data-color="blue">&nbsp;</li>
                    <li id="builder-green" data-color="green">&nbsp;</li>
                </ul>
            </div>

            <div class="watch" id="meteor-preview">
                <div>
                    <img src="/assets/home/builder/watch-male-white.jpg">
                    <div id="meteor-preview-slider-wrap">
                    	<div class="watch-overlay-big"></div>
                        <div id="meteor-preview-slider" data-next=".meteor-preview-nav.next" data-prev=".meteor-preview-nav.prev" data-touch="false" class="css-slider" data-auto-play-delay="3000" data-auto-play="false" data-easing="linear" data-speed="250" data-touch="true">
                            <div class="slide slide-1" style="background: url('/assets/home/watch_face/face_1/1.1.png') no-repeat;"></div>
                            <div class="slide slide-1" style="background: url('/assets/home/watch_face/face_1/1.png') no-repeat;"></div>
                            <div class="slide slide-2" style="background: url('/assets/home/watch_face/face_1/2.1.png') no-repeat;"></div>
                            <div class="slide slide-1" style="background: url('/assets/home/watch_face/face_1/2.png') no-repeat;"></div>
                            <div class="slide slide-3" style="background: url('/assets/home/watch_face/face_1/3.1.png') no-repeat;"></div>
                            <div class="slide slide-1" style="background: url('/assets/home/watch_face/face_1/3.png') no-repeat;"></div>
                            <div class="slide slide-4" style="background: url('/assets/home/watch_face/face_1/4.1.png') no-repeat;"></div>
                            <div class="slide slide-1" style="background: url('/assets/home/watch_face/face_1/4.png') no-repeat;"></div>
                            <div class="slide slide-5" style="background: url('/assets/home/watch_face/face_1/5.1.png') no-repeat;"></div>
                            <div class="slide slide-1" style="background: url('/assets/home/watch_face/face_1/5.png') no-repeat;"></div>
                            <div class="slide slide-6" style="background: url('/assets/home/watch_face/face_1/6.1.png') no-repeat;"></div>
                            <div class="slide slide-1" style="background: url('/assets/home/watch_face/face_1/6.png') no-repeat;"></div>
                            <div class="slide slide-7" style="background: url('/assets/home/watch_face/face_1/7.1.png') no-repeat;"></div>
                            <div class="slide slide-1" style="background: url('/assets/home/watch_face/face_1/7.png') no-repeat;"></div>
                            <div class="slide slide-8" style="background: url('/assets/home/watch_face/face_1/8.1.png') no-repeat;"></div>
                            <div class="slide slide-1" style="background: url('/assets/home/watch_face/face_1/8.png') no-repeat;"></div>
                            <div class="slide slide-9" style="background: url('/assets/home/watch_face/face_1/9.1.png') no-repeat;"></div>
                            <div class="slide slide-1" style="background: url('/assets/home/watch_face/face_1/9.png') no-repeat;"></div>
                            <div class="slide slide-10" style="background: url('/assets/home/watch_face/face_1/10.png') no-repeat;"></div>
                            <div class="slide slide-11" style="background: url('/assets/home/watch_face/face_1/12.png') no-repeat;"></div>
                        </div>

                    </div>

                </div>

                <a href="#" class="prev meteor-preview-nav">&nbsp;</a>
                <a href="#" class="next meteor-preview-nav">&nbsp;</a>

                <p class="hidden-phone" id="meteor-preview-message">
                    Over 20 digital &amp; analog watch faces <strong>included</strong>.<br>Browse this selection to get a sneak peak!
                </p>
            </div>

        </div>
    </div>

    <div id="preorder" class="wrapper section">
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <hgroup>
                        <h4>Want One? Place Your Preorder Here!</h4>
                        <h3>Ready to Buy?<br class="visible-phone"> Preorder Yours Today!</h3>
                    </hgroup>
                    <a href="#mdl_preorder" data-toggle="modal">Preorder Now</a>
                    <p>Orders shipped first-come, first-served. First deliveries begin January 2014.<br> Pre-order at $149 through October 31, 2013.  Price is $169.95 as of November 1, 2013.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="tech-specs" class="wrapper section">
        <div class="container">
            <div class="row-fluid">
                <div class="span8">
                    <hgroup>
                        <h3>What Makes This Watch So Smart?</h3>
                        <h2>Tech Specs and Details</h2>
                    </hgroup>
                    <ul>
                        <li class="blue">Connect &ldquo;on-the-go&rdquo; with your iPhone, Android, or Windows 8 smartphone via Bluetooth</li>
                        <li class="blue">Received notification in 8 different Unicode languages. Font support.</li>
                        <li class="blue">Active developer community creating new apps everyday</li>
                        <li class="blue">Lost phone alert function notifies Meteor if you go out of range.</li>
                        <li>Ultra Low Power MCU</li>
                        <li>Ultra Low Power 1.26 Inch Memory LCD Screen 144 x 168 pixel </li>
                        <li>4 Waterproof Buttons</li>
                        <li>Vibrating motor</li>
                        <li>ANT/ANT+</li>
                        <li>Bluetooth 2.1+ EDR and 4.0 (Low Energy)</li>
                        <li>6-Axis Accelerometer & Gyrometer </li>
                        <li>Water-Resistant Mini Speaker</li>
                        <li>Water-Resistant MEMS Microphone with HIGH SNR and Flat-Wide Band frequency response</li>
                        <li>Water resistant - Good for swimming and shower (ATMs: TBD)</li>
                        <li>150 mah Lithium Rechargeable Battery (7 days battery life)</li>
                        <li>USB Interface for Charging and Watch OS Update</li>
                    </ul>
                </div>
            </div>
            <img src="/assets/home/bg-tech-specs.jpg" class="hidden-phone">
        </div>
    </div>

<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/C4AJHZjRkhK13v7P6k3aMA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

    

</div>

 
<!-- PreOrder Modal -->
<div id="mdl_preorder" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: auto; height:auto;">
<div class="modal-header">
<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button> -->
<img src="/assets/home/close.png" class="mdl-close" data-dismiss="modal" aria-hidden="true" />
<h5 id="myModalLabel">PRE-ORDER NOW</h5>
</div>
<div class="modal-body">
<!-- For Watch Image -->
<div class="span1" style="padding-right: 30px;">
	<div id="imgWatch" class="imgWatch_black" style="margin:0 auto;"></div>
</div>

<!-- For Color -->
<div class="span4"style="padding-right: 45px;">
	<table class="table" style="font-size:15px; table-layout:fixed; margin-bottom: 0!important;">
		<thead>
			<tr>
				<td colspan="5" style="color: #b9c2c6;">Pick a color</td>
			</tr>
		</thead>
		<tbody>
			<tr style="height:35px;">
				<td><div class="color-black btnColor" rel="Black"></div></td>
				<td><div class="color-white btnColor" rel="White"></div></td>
				<td><div class="color-pink btnColor" rel="Pink"></div></td>
				<td><div class="color-blue btnColor" rel="Blue"></div></td>
				<td><div class="color-green btnColor" rel="Lime"></div></td>
			</tr>
			<tr>
				<td id="color_indicator_black" class="color-indicator" style="border-top: solid 2px #00bcf2;"><div id="td-black" class="current_color">Black</div></td>
				<td id="color_indicator_white" class="color-indicator"><div id="td-white" class="current_color"></div></td>
				<td id="color_indicator_pink" class="color-indicator"><div id="td-pink" class="current_color"></div></td>
				<td id="color_indicator_blue" class="color-indicator"><div id="td-blue" class="current_color"></div></td>
				<td id="color_indicator_green" class="color-indicator"><div id="td-lime" class="current_color"></div></td>
			</tr>
			<tr>
				<td colspan="2" style="color: #b9c2c6; border-top: 0;">Gender</td>
			</tr>
			<tr>
				<td><div id="td-gender-male" class="btnGender dvMale_active" rel="Male"></div></td>
				<td><div id="td-gender-female" class="btnGender dvFemale_active" rel="Female"></div></td>
			</tr>
			<tr>
				<td id="gender_indicator_male" class="gender-indicator" style="border-top: solid 2px #00bcf2;"><div id="td-male" class="current_gender">Male</div></td>
				<td id="gender_indicator_female" class="gender-indicator"><div id="td-female" class="current_gender"></div></td>
			</tr>
		</tbody>
	</table>
</div>
</div>
<div class="modal-footer">
<button id="btnSendPreOrder">ADD TO CART</button>
</div>