@font-face {
  font-family: 'proximanovalight';
  src: url("fonts/proximanovalight.eot");
  src: url("fonts/proximanovalight.eot?#iefix") format("embedded-opentype"), url("fonts/proximanovalight.woff") format("woff"), url("fonts/proximanovalight.ttf") format("truetype"), url("fonts/proximanovalight.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

  @font-face {
  font-family: 'news-bold';
  src: url("fonts/news-bold.eot");
  src: url("fonts/news-bold.eot?#iefix") format("embedded-opentype"), url("fonts/news-bold.woff") format("woff"), url("fonts/news-bold.ttf") format("truetype"), url("fonts/news-bold.svg#news-bold") format("svg");
  font-weight: normal;
  font-style: normal; }

  @font-face {
  font-family: 'news-light';
  src: url("fonts/news-light.eot");
  src: url("fonts/news-light.eot?#iefix") format("embedded-opentype"), url("fonts/news-light.woff") format("woff"), url("fonts/news-light.ttf") format("truetype"), url("fonts/news-light.svg#news-light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'news-condensed';
  src: url("fonts/news-condensed.eot");
  src: url("fonts/news-condensed.eot?#iefix") format("embedded-opentype"), url("fonts/news-condensed.woff") format("woff"), url("fonts/news-condensed.ttf") format("truetype"), url("fonts/news-condensed.svg#news-condensed") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'league_gothicregular';
  src: url("fonts/leaguegothic-regular-webfont.eot");
  src: url("fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/leaguegothic-regular-webfont.woff") format("woff"), url("fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("fonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body{ 
  background: #f7f7f7 url('/assets/new_style/img_dashboard/bg.png') no-repeat center top;
  background-size: 100%;
}

.clear{ clear: both; }

#container{
  width: 1111px;
  margin: auto;
  position: relative;
}

#dashboard-container{
  width: 1200px;
  margin: auto;
  position: relative;
}

#content-wrapper{
  margin: 75px auto;
  width: 1071px;
  padding: 20px;
}

#content-wrapper h1{
  text-align: center;
  font-family: 'news-condensed', sans-serif;
  text-transform: uppercase;
  font-size: 55px;
  letter-spacing: -3px;
  
  text-shadow: 0px 8px 10px #fffeef;
}

.x-friends{
  position: relative;
  display: inline;
  margin:0 15px 0 15px;
}

.x{
  position: absolute;
  top: 20px;
  right: -15px;
  font-size: 100px;
  font-family: 'proximanovalight', sans-serif;
  opacity: .75;
}

.n-friends{
  font-family: 'news-bold', sans-serif;
  display: inline;
}

#nav{
  position: relative;
}

#kreyos-nav-wrapper{
  border-top: 1px solid #dde2e3;
  width: 100%;
  height: 51px;
  background: url('/assets/new_style/img_dashboard/kreyos-nav-bg.png') repeat-x;
  position: relative;
}

#kreyos-nav{
  width: 50%;
  float: left;
}

#kreyos-nav ul{
  list-style-type: none;
}

#kreyos-nav li{
  display: inline;
}

#kreyos-nav li img{
  border-left: 1px solid #dde2e3;
  border-right: 1px solid #dde2e3;
  margin:-1px -2px 0 -2px;
}

#kreyos-user{
  width: 290px;
  color: #a2adaf;
  font-family: 'news-condensed',sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  position: absolute;
  top: 78px;
  right: -45px;
  font-weight: bold;
}

#kreyos-user img{
  position: absolute;
  top: -65px;
  right: 38%;
  z-index: 100px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  width: 65px;
  height: 65px;
  border: 5px solid #ffffff;
}
.myaccount{
  padding-right: 16px;
  background: url('/assets/new_style/img_dashboard/account_dropdown.png') no-repeat right;
}

.user-progress{
  background: url('/assets/new_style/img_dashboard/progress_bg.png') no-repeat;
  width: 323px;
  height: 46px;
  position: absolute;
  right: -60px;
  top: 35px;
  z-index: 5px;
}

#left{
  width: 882px;
  float: left;
}

#right{
  width: 285px;
  float: right;
}

#left-container{
  width: 795px;
  padding: 45px 30px 30px 30px;
  background: #ffffff;
  -moz-border-radius: 10px;
  -webit-border-radius: 10px;
  border-radius: 10px;
  margin: 20px 0 20px 0;
  
  -moz-box-shadow: 0 0 10px #c0c0c0;
  -webkit-box-shadow: 0 0 10px #c0c0c0;
  box-shadow: 0 0 10px #c0c0c0;
}

#right-container{
  width: 245px;
  padding: 20px;
}

#banner{
  width: 100%;
  height: 258px;
  background: url('/assets/new_style/img_dashboard/banner-bg.png');
  -moz-border-radius: 10px;
  -webit-border-radius: 10px;
  border-radius: 10px;
  position: relative;
}

#banner-h1{
  position: absolute;
  top: 60px;
  width: 100%;
  text-align: center;
}

#banner-h1 h1{
  font-family: 'news-condensed',sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: -3px;
  color: #000000;
}

#start-btn{
  position: absolute;
  top: 128px;
  left: 265px;
}

#summary-container{
  width: 93%;
  padding: 30px;
}

#summary-title{
  background: url('/assets/new_style/img_dashboard/summary-title-bg.png') no-repeat left;
  padding: 15px 0px 0px 40px;
  font-size: 25px;
  height: 35px;
  text-transform: uppercase;
  font-family: 'news-bold', sans-serif;
}

#summary ul{
  list-style-type: none;
}

#summary li{
  display: inline;
}

#summary a{
  color: #10c3ff;
  font-family: 'news-condensed', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 0 5px 0 5px;
  padding: 8px 20px 8px 20px;
}

#summary a:hover, .active{
  background: #697579;
  color: #ffffff!important;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}

#summary-counter{
  width: 230px;
  height: 90px;
  padding: 50px 20px 10px 20px;
  float: left;
  text-align: center;
  margin-top: 55px;
}

.counter{
  font-family: 'news-bold', sans-serif;
  font-size: 85px;
  color: #6b757b;
}

.counter-desc{
  font-family: 'proximanovalight', sans-serif;
  font-size: 22px;
  color: #6b757b;
  text-transform: uppercase;
  line-height: 100px;
}

#total-badges{
  width: 92%;
  padding: 23px 50px;
  background: #f1f8fa;
  border-top: 1px solid #e2e8e8;
  margin-top: 45px;
  font-size: 15px;
}

#total-badges a{
  color: #1f2426;
  text-decoration: underline;
}

#total-badges a:hover{
  color: #10c3ff;
}

#leaderboard-title{
  background: url('/assets/new_style/img_dashboard/leaderboard-title-bg.png') no-repeat left;
  padding: 15px 0px 0px 40px;
  font-size: 25px;
  height: 31px;
  text-transform: uppercase;
  font-family: 'news-bold', sans-serif;
  float: left;
}

#full-btn{
  float: right;
  padding: 12px 26px;
  border: 1px solid #e5ecee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
}

#full-btn a{
  color: #10c3ff;
}

#full-btn a:hover{
  text-decoration: underline;
}

#leaderboard-list{
  font-size: 15px;
  margin-top: 20px;
}

#leaderboard-list ul{
  list-style-type: none;
}

#leaderboard-list li{
  border-bottom: 2px solid #f1f3f4;
}

#leaderboard-list li:last-child{
  border-bottom: none;
}

.user{
  background: #e5f8ff;
}

#leaderboard-list img{
  border: 4px solid #d5dddf;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  margin: 5px 15px 5px 20px;
  width: 45px;
  height: 45px;
}

#leaderboard-list a{
  color: #10c3ff;
  text-transform: capitalize;
}

#leaderboard-list a:hover{
  text-decoration: underline;
}

.rank{
  font-family: 'proximanovalight', sans-serif;
  font-size: 30px;
  display: inline;
  float: left;
  margin: 22px 0 0 20px;
  width: 10px;
}

.points{
  float: right;
  font-weight: bold;
  font-size: 20px;
  margin: 23px 30px 0 0;
}

.name{
  float: left;
}

.sep{
  width: 100%;
  margin: 10px 0;
  border-bottom: 1px solid #cfd8da;
}

.user-name{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

.user-stats{
  font-size: 20px; 
  text-transform: capitalize;
}

.user-points{
  color: #9acd00;
  font-family: 'news-bold', sans-serif;
  font-size: 55px;
  text-transform: uppercase;
  margin-top: 30px;
}

#edit-profile-container{
  width: 210px;
  background: #677377;
  padding: 15px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  color: #f1f9fa;
}

#edit-profile-container a{
  color: #f1f9fa;
  text-decoration: none;
}

.title{
  float: left;
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: bold;
}

.profile-progress{
  float: right;
  font-style: italic;
  color: #b2bcbf;
  font-size: 15px;
}

.edit{
  font-size: 14px;
  border-bottom: 1px solid #7b8283;
  padding: 10px 5px;
}

.edit:hover{
  background: #6e7b7f;
}

#achievements-container{
  width: 210px;
  background: #10c3ff;
  padding: 15px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
}

.achievement-counter{
  float: right;
  font-size: 15px;
}

#badges-container{
  width: 92%;
  background: #ffffff;
  padding: 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #5b5e5f;
}

#badge{
  padding: 10px;
  border-bottom: 1px solid #dce3e5;
}

#badge h4{
  line-height: 0;
  font-size: 16px;
}

#badge p{
  color: #8c9294;
  font-size: 13px;
}

#badge a{
  color: #10c3ff;
  font-size: 16px;
}

#badge img{
  float: left;
  margin-right: 8px;
}

#recent-activity-container{
  width: 92%;
  padding: 8px;
  color: #000000;
}

#activity{
  margin: 15px 0px;
}

#activity img{
  float: left;
  width: 45px;
  height: 45px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  border: 4px solid #bbc8b9;
  margin-right: 8px;
}

#activity p{
  font-size: 16px;
  line-height: 20px;
}

.recent-activity{
  float:left;
  width: 245px;
}

.time{
  color: #7c8c92;
  font-size: 14px;
}

.progress{
  background: #4d585c;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin-bottom: 5px;
  padding: 2px;
}

.bar{
  background: #10c3ff;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

#dvActivities_1 { display:block; }

.tab_content {
	display: none;
}



.datepicker { left: 530px!important; top: 145px!important; }
.alert { margin-bottom: 0!important; font-size: 15px; }
/* modal */
#modal{
  background: url('/assets/new_style/img_activities/modal-bg.png');
  top: 0;
  width: 100%!important;
  height: 100%!important;
  position: fixed;
  z-index: 10000;
  /*visibility: hidden;*/
}

#emodal{
  background: url('/assets/new_style/img_activities/modal-bg.png');
  top: 0;
  width: 100%!important;
  height: 100%!important;
  position: fixed;
  z-index: 10000;
  /*visibility: hidden;*/
}

.modalslider{
  width: 160px !important;
  margin-left: 20px !important;
}

.modal-datepicker{
  width: 310px;
  margin: 15px auto 30px auto;
  color: rgb(158, 172, 177) !important;
  font-size: 20px;
}

.modal-datepicker input{
  border:none !important;
  width: 140px !important;
  font-size: 20px;
  color: #10c3ff !important;
  display: inline !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: url('/assets/new_style/img_activities/date-picker.png') no-repeat right;
  padding-bottom: 0;
}

#modal-container{
  background: #ffffff;
  width: 610px;
  height: auto;
  padding: 20px 50px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position: relative;
  top: 10%;
  margin: auto;
}

#modal-close{
  background: url('/assets/new_style/img_activities/modal-close.png');
  min-width: 46px;
  min-height: 44px;
  position: absolute;
  right: 25px;
  top: 15px;
  z-index: 1000px;
  opacity: .75;
}

#modal-close:hover{
  opacity: 1;
}

#modal-container h1{
  font-size: 25px;
  line-height: 15px;
  margin-left: 20px;
}

#modal-container p{
  font-size: 18px;
  color: #8f9ca1;
  font-family: 'proximanovalight', sans-serif;
  margin: 0 0 20px 20px;
}

#modal-container img{
  position: absolute;
  top: -25px;
  left: -25px;
  z-index: 100;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  width: 65px;
  height: 65px;
  border: 10px solid #ffffff;
} 

.goal-name{
  background: #f5fbfd !important;
  border: 2px solid #c8d7dd !important;
  font-size: 20px !important;
  font-family: 'proximanovalight', sans-serif;
  min-width: 582px !important;
  min-height: 45px !important;
  color: #000000 !important;
  margin-top: 30px;
}

.goal-name:focus{
  background: #ffffff !important;
}

#goal-container{
  width: 190px;
  height: 130px;
  display: inline-block;
  margin-top: 25px;
  font-family: 'proximanovalight', sans-serif;
}

#goal-container p{
  line-height: 20px;
  float: left;
  margin-top: 6px;
}

.goal-txt{
  width: 70px !important;
  min-height: 45px !important;
  border: 2px solid #d0dbde !important;
  font-size: 20px !important;
  font-family: 'proximanovalight', sans-serif;
  color: #636d70 !important;
  padding-left: 10px;
  -moz-border-radius: 10px!important;
  -webkit-border-radius: 10px!important;
  border-radius: 10px!important;
  margin-left: 15px;
}

.create-goal{
  min-width: 233px;
  min-height: 53px;
  border: none;
  background: url('/assets/new_style/img_activities/create-goal-btn.png');
  margin-bottom: 20px;
}

.dashboard-alert { margin-bottom: 10px!important; }
.dvGoalOption { padding: 140px 0 0 365px; }

.myDatepicker::-webkit-input-placeholder {
   color: #10c3ff!important;
}

.myDatepicker:-moz-placeholder { /* Firefox 18- */
   color: #10c3ff!important;  
}

.myDatepicker::-moz-placeholder {  /* Firefox 19+ */
   color: #10c3ff!important;  
}

.myDatepicker:-ms-input-placeholder {  
   color: #10c3ff!important;  
}