<div class="row-fluid">
            <div class="span2 half" id="footer-identity">
                <a href="/" class="for_logo"><img src="/assets/home/kreyos-logo-alt.png" alt="Kreyos"></a>
            </div>

            <div class="span2 reverse-float half">
            <h5 class="hidden-phone">Follow Us</h5>
            <ul class="social-links">
                <li><a href="https://twitter.com/mykreyos" target="_blank" class="twitter" title="Twitter">&nbsp;</a></li>
                <li><a href="https://www.facebook.com/kreyos?ref=br_tf" target="_blank" class="facebook" title="FaceBook">&nbsp;</a></li>
            </ul>
        </div>
        
        <div class="span6 reverse-float">
            <div class="row-fluid" id="collapsing-footer-lists">
                <div class="span4">
                    <h5 data-toggle="collapse" data-parent="#collapsing-footer-lists" data-target="#footer-about">About<span class="visible-phone">&nbsp;</span></h5>
                    <ul id="footer-about" class="collapse">
                        <li><a href="http://www.kreyos.com/about/" target="_blank">About Kreyos</a></li>
                        <li><a href="/coming-soon/">Blog</a></li>
                        <li><a href="/coming-soon/">Press</a></li>
                        <li>
                        	<!-- A link to launch the Classic Widget -->
							<a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-primary-color="#cc6d00" data-uv-link-color="#007dbf" data-uv-default-mode="support" data-uv-forum-id="198604">
								Feedback &amp; Support
							</a>
                        </li>
                        <!-- <li><a href="http://support.kreyos.com/">Contact Us</a></li> -->
                    </ul>
                </div>
                <div class="span4">
                    <h5 data-toggle="collapse" data-parent="#collapsing-footer-lists" data-target="#footer-kreyos">Kreyos<span class="visible-phone">&nbsp;</span></h5>
                    <ul id="footer-kreyos" class="collapse">
                        <li><a href="/coming-soon/">Kreyos 101</a></li>
                        <li><a href="/policy">Privacy Policy</a></li>
                        <li><a href="/terms">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="span4">
                    <h5 data-toggle="collapse" data-parent="#collapsing-footer-lists" data-target="#footer-info">Info<span class="visible-phone">&nbsp;</span></h5>
                    <ul id="footer-info" class="collapse">
                        <li><a href="http://developers.kreyos.com/" target="_blank">Developers</a></li>
                        <li><a href="http://support.kreyos.com/" target="_blank">Feedback Forum</a></li>
                        <li><a href="http://support.kreyos.com/knowledgebase" target="_blank">Knowledge Base</a></li>
                        <li><a href="http://support.kreyos.com/knowledgebase/topics/29899-indiegogo-faq" target="_blank">FAQ</a></li>
                    </ul>
                </div>
                </div>
            </div>
        </div>