<% content_for :subtitle do %>
	Help
<%end%>

<h1>Help</h1>
<hr />

<div id="dvMainContent">
	<p style="font-size: 20px;text-align: justify;">
		Lorem ipsum dolor sit amet, velit iudicabit est ut, no tota nostrud appareat nec. Sit in stet doctus consequuntur, ut sumo similique sed. Tota facer tamquam ex sea, vis nostrud corpora tacimates te, vix id sint error dicant. Ne stet iudico perpetua mei, nec oblique urbanitas et, per ne mazim movet civibus. Semper meliore eum in, eam ex maiorum propriae definitionem. Per ea munere corpora vituperata, ius tempor bonorum instructior in, te cum consul nominati. Id alia quidam postulant mea.
	
		In nisl nullam eripuit nam. Te natum nonumes nam, ei eum nibh commune suscipiantur. Et choro appetere volutpat mea, liber legimus mediocrem pro ex. Ea eam decore mucius nostrud, in nihil graece omnium cum. Minim erant apeirian per eu. Ea nam lucilius forensibus delicatissimi.
		
		Ea eam hendrerit disputando mediocritatem, usu dictas evertitur ut, pri ut aliquip feugait volumus. Ea sea mundi vocibus maiestatis. Vis at primis maiestatis vituperata. Novum incorrupte usu ad, in vel aliquam inciderint.
		
		Cu vix enim sale. Stet iriure indoctum per at. Omittam sensibus voluptatibus vix ne, sea no primis dolorem, vis ex alii democritum conclusionemque. Vide feugait gloriatur cu eum, ex democritum efficiendi eum. Has no mazim putant expetendis.
		
		Commune appellantur ne mea. Has simul saperet laboramus ex. Natum tation probatus per at, eam mundi civibus accommodare ad. At vim viris labitur lobortis, has in nullam graeci. Vel ei labore aeterno aliquid. Timeam molestie consulatu ex nam.
	</p>
</div>

